<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Client</li>
  </ol>
</nav>

<form class="text-center border border-light p-5">
	<div class="form-row mb-4">
<div class="custom-control custom-radio" style="float:left">
  <input type="radio" class="custom-control-input" name="type">
  <label class="custom-control-label" for="Individual">Individual</label>
</div>
<div class="custom-control custom-radio" style="float:left;margin-left: 15px;">
  <input type="radio" class="custom-control-input" name="type">
  <label class="custom-control-label" for="Buisness">Buisness</label>
</div>
</div>
    <input type="text" class="form-control mb-4" placeholder="Full Name / Buisness Name">

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Telephone">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Mobile">
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Street Address 1">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Street Address 2">
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="State">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Postal Code">
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <select class="mdb-select form-control" placeholder="Country">
            	<option value="" disabled>Country</option>
            	<option value="india">India</option>
            </select>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <input type="number" class="form-control" placeholder="Code Number">
        </div>
        <div class="col">
            <select class="mdb-select form-control" placeholder="Invoicing Method">
            	<option value="" disabled>Invoicing Method</option>
            	<option value="email">Send via Email</option>
            </select>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <select class="mdb-select form-control" placeholder="Currency">
            	<option value="" disabled>Currency</option>
            	<option value="india">INR Indian Rupee</option>
            </select>
        </div>
        <div class="col">
        </div>
    </div>

    <input type="email" class="form-control mb-4" placeholder="E-mail">

    <input type="email" class="form-control mb-4" placeholder="Category">

    <input type="email" class="form-control mb-4" placeholder="Notes">

    
    <!--input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div-->

    <button class="btn btn-info col-lg-3 btn-block" style="float:right;" type="submit">Submit</button>

    
</form>
