<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav> -->


<!-- Shoulb be removed once we get the content -->

<section class="login-page-container">
  <figure>
    <img class="login_image" src="./assets/images/landing_page.jpg" alt="login image">
  </figure>
  <div class="row col-md-6 user_credentials_container">
    <input class="col-md-12 mt-4" type="text" placeholder="Username">
    <input class="col-md-12 mt-4" type="password" name="" id="" placeholder="password">
  </div>
</section>
